<div class="about_content">
    <h2 class="heading">O Firmie</h2>
    <div class="about_content_logo">
        <img src="images/alohateamlogo.png" alt="AlohaTeamLogo"/>
    </div>
    <div class="about_content_description">
        <p>Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Aenean in mi orci. Sed ut consequat neque.
            Etiam at magna eu felis commodo varius.</p><br/><br/>
        <p>Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Aenean in mi orci. Sed ut consequat neque.
            Etiam at magna eu felis commodo varius.</p><br/><br/>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec porttitor justo.
            Pellentesque lacinia non odio tincidunt suscipit. Nam commodo facilisis risus eget facilisis.
            Vivamus bibendum bibendum orci. Maecenas non sem quis lacus mollis blandit.
            Suspendisse consectetur enim vel suscipit laoreet. Suspendisse eget velit sit amet metus
            mollis rhoncus a vitae leo. Vestibulum eget sapien id nisi consequat finibus rhoncus id libero.</p>
    </div>
</div>