<div class="footer_container">
    <div class="fb_icon">
        <a href="https://pl-pl.facebook.com"><i class="icon fab fa-facebook-f"></i></a>
    </div>
    <div class="mes_icon">
        <a href="#"><i class=" icon fab fa-facebook-messenger"></i></a>
    </div>
    <div class="phone_icon">
        <a href="#"><i class=" icon fas fa-phone"></i></a>
    </div>
    <div class="slide_icon">508754393</div>

</div>
<p>created by Albert Kępski &copy; All Rights Reserved</p>