<?php if (!empty($_SESSION['success'])): ?>
    <div class="success">DZIEKUJEMY ZA KONTAKT. POSTARAM SIE ODPOWIEDZIEC JAK TO TYLKO BEDZIE MOZLIWE</div>
<?php else: ?>
    <?php if (!empty($_SESSION['errors'])):?>
        <style>
            .main_div_form{display: none;}
        </style>
        <ul>
        <?php foreach($_SESSION['errors'] as $error): ?>

            <li class="error_php"><?= $error ?></li>
    <?php endforeach; endif ?>
        </ul>

    <div class="main_div_form">
        <h2>Napisz do nas!</h2>
        <form method="POST" name="registration">
            <div class="name">
                <label for="name"></label>
                <input type="text" id="name" name="name" placeholder="Twoje imię">
            </div>

            <div class="surname">
                <label for="surname"></label>
                <input type="text" id="surname" name="surname" placeholder="Twoje nazwisko">
            </div>

            <div class="telephone">
                <label for="telephoneNumber"></label>
                <input type="number" id="telephoneNumber" name="number" placeholder="Twój numer telefonu">
            </div>

            <div class="email">
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="Twój email">
            </div>

            <div class="textarea">
                <label for="subject"></label>
                <textarea style="height: 150px" id="subject" name="subject" placeholder=""></textarea>
            </div>
            <div class="submit">
                <input type="submit" value="Wyślij">
            </div>

        </form>
    </div>
<?php endif ?>




