<!DOCTYPE html>
    <link rel="stylesheet" type="text/css" href="styles/reset.css"/>
    <link rel="stylesheet" type="text/css" href="styles/style.css"/>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="shortcut icon" type="image/png" href="images/alohateamlogo.png"/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Lobster" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="fontawesome-all.css" rel="stylesheet">
    <script src="scripts/jquery-3.3.1.min.js"></script>
    <script src="scripts/jquery-validation-1.15.0/dist/jquery.validate.min.js"></script>
    <script src="scripts/validation.js"></script>
    <script src="scripts/script.js"></script>


</head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="#alohateam">AlohaTeam!</a></li>
            <li><a href="#about">O firmie</a></li>
            <li><a href="#info">Informacje</a></li>
            <li><a href="#con">Kontakt</a></li>
        </ul>
    </nav>

</header>
<section id="alohateam">
    <?php require __DIR__.'/description.phtml' ?>
</section>

<section class="main_div" id="about">
    <?php require __DIR__.'/about.phtml' ?>
</section>
<section class="main_div" id="info">
    <?php require __DIR__.'/offer.phtml' ?>
</section>
<section class="main_div" id="con">
    <?php require __DIR__.'/form.phtml' ?>
</section>
<footer>
    <?php require __DIR__.'/footer.phtml' ?>
</footer>
</body>

</html>
