<div class="offer_content">

    <h2>Oferta Aloha Team</h2>
    <div class="content">
        <h3 class="heading">Godzina Zajęć:</h3>
        <p class="paragraph">Zajęcia Indywidualne - 70zł</p>
        <p class="paragraph">2 osoby 60zł/os</p>
        <p class="paragraph">3 osoby 50zł/os</p>
    </div>
    <div class="content">
        <h3 class="heading">Pakiet 16 godzin:</h3>
        <p class="paragraph">Zajęcia Indywidualne - 880zł</p>
        <p class="paragraph">2 osoby 720zł/os</p>
        <p class="paragraph">3 osoby 560zł/os</p>
    </div>
    <div class="content">
        <h3 class="heading">Pakiet 4 godzin:</h3>
        <p class="paragraph">Zajęcia Indywidualne - 260zł</p>
        <p class="paragraph">2 osoby 220zł/os </p>
        <p class="paragraph">3 osoby 180zł/os </p>
    </div>
    <div class="content">
        <h3 class="heading">Pakiet 6 dniowy (18h):</h3>
        <p class="paragraph">Zajęcia Indywidualne - 900zł</p>
        <p class="paragraph">2 osoby 750zł/os </p>
        <p class="paragraph">3 osoby 600zł/os </p>
    </div>
    <div class="content">
        <h3 class="heading">Pakiet 8 godzin:</h3>
        <p class="paragraph">Zajęcia Indywidualne - 480zł</p>
        <p class="paragraph">2 osoby 400zł/os </p>
        <p class="paragraph">3 osoby 320zł/os </p>
    </div>
    <div class="content">
        <h3 class="heading">Pakiet 6 dniowy (24h):</h3>
        <p class="paragraph">Zajęcia Indywidualne - 1080zł</p>
        <p class="paragraph">2 osoby 840zł/os</p>
        <p class="paragraph">3 osoby 650zł/os</p>
    </div>
    <div class="content2">
        <h3 class="heading">Wypożyczenie sprzętu</h3>
        <p class="paragraph">Komplet szkoleniowy (deska + pędnik) - 35zł/h</p>
        <p class="paragraph">Komplet ślizgowy (deska + pędnik) - 45zł/h</p>
    </div>
</div>