
html, body {
    height: 100vh;
}

body {
    box-sizing: border-box;
    background: url('../images/kite.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}
/*header */

header {
    background-color: rgba(0,0,0,0.5);
    height: 50px;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

nav {
    float: right;
    margin: 10px 30px 0 0;
}
ul {
    list-style: none;
}

ul li {
    display: inline-block;
    
}
ul li a {

    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding: 10px;
    margin-top: 50px;
    
}

ul li a::after {
    content: '';
    display: block;
    width: 0;
    transition: width .3s;
}
ul li a:hover::after {
    border-bottom: 2px solid white;
    width: 100%;
}
a.active {
    border-bottom: 2px solid white;
    width: 100%;
}


/*end header*/

/*description*/
section {
    height: 100vh;
    position: relative;
}

section > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 25px;  
    font-size: 15px;
    border: 2px solid white;
    color: aliceblue;
}
.alohaBackGround {
    background-color:#3e425500;
    border: none;
}
.description {
    font-family:'Lobster', cursive;
    font-size: 70px;
}
/*end description*/
/*contact*/

.main_div {
    height: 700px;
}


.about_content {
/*    background-color: rgb(0, 0, 0, 0.5);*/
    width: 85%;
    top: 5%;
    height: 500px;
/*    border: 1px solid rgb(0, 0, 0, 0.5);*/
    border-radius: 10px;
}

.about_content_logo {
    width: 35%;
    position: absolute;
    top: 25%;
    left: 5%;
}
.about_content_logo > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.about_content_description {
    position: absolute;
    top: 24%;
    left: 50%;
    width: 40%;
    border: 2px solid;
    padding: 2%;
    border-radius: 10px;
}
/*end contact*/
/*offer*/

.offer_content {
/*    background-color: rgb(0, 0, 0, 0.5);*/
    width: 85%;
    top: 5%;
    height: 500px;
/*    border: 1px solid rgb(0, 0, 0, 0.5);*/
    border-radius: 10px;


}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content {
    width: 40%;
    height: 85px;
    background-color: #bfa97d94;
    float: left;
    margin: 15px 5%;
    color: black;
    border-radius: 10px;
}

.content2 {
    width: 90%;
    height: 70px;
    background-color: #bfa97d94;
    margin: 15px 5%;
    float: left;
    border-radius: 10px;
    color: black;
    text-align: center;

}

.heading {
    text-align: center;
    font-weight: bold;
    margin: 5px 0;
}

.paragraph{
    margin: 0 0 2px 7px;
}

/*endoffer*/

/*contact*/
.form {
    background-color: yellow;
}

.main_div_form {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 768px;
    top: 5%;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}

/*styling form*/

.name, .surname, .email, .telephone {
    margin: 2%;
    float: left;
    width: 43%;
    border: 2px solid black;
}

.textarea, .submit {
    width: 90%;
    margin-left: 2%;
    margin-top: 5%;
    
}

.submit {
    border: 2px solid black;
}

input[type=text], [type=email], [type=number], [type=submit], textarea {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: none;
    background: #bfa97d94;
    padding-left: 10px;
    transition: 0.5s;

}

input[type=submit]:hover {
    background-color: #2b27279c;
    color: white;
    cursor: pointer;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    font-size:10px;
}

::-moz-placeholder { /* Firefox 19+ */
    color: black;
    font-size:10px;
}
:-ms-input-placeholder { /* IE 10+ */
    color: black;
    font-size:10px;
}
:-moz-placeholder { /* Firefox 18- */
    color: black;
    font-size:10px;
}

/*
end styling form
contact
*/

/*footer*/

footer {
    height: 100px;
    width: 100%;
    background-color: black;
/*    position: fixed;*/
    left: 0;
    bottom: 0;
}

.footer_container {
    width: 80%;
    height: 50px;
    margin: auto;
    position: relative;
}
.slide_icon {
    color: white;
    display: none;
    position: absolute;
    top: 50px;
    right: 250px;

}

.icon {
    font-size: 20px;
    float: left;
    color: white;
    margin: 2% 0 0 23%;
}

footer p {
    color: white;
    text-align: center;
    font-size: 10px;
    margin: 1% 3% 0 0;
}
/*form validation*/
.error_php {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 25px;
    font-size: 15px;
    border: 2px solid white;
    color: aliceblue;
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 5px;
}

label.error {
    display: block;
    border-top: 2px solid #0a0a0a;
    margin: auto;
    text-align: center;
    color: #000000;
    background-color: red;
}

form > div:nth-child(2n+1) {
    clear: left;
}
/*end form validation*/